{% extends "layout/base.html" %}

{% block head %}
    <!-- Bootstrap core CSS -->
    <!-- <link href="../static/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- core CSS -->
    <link href="static/starter-template.css" rel="stylesheet">
    <!--  <link href="static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="static/css/bootstrap-slider.css" rel="stylesheet">
    <!-- <link type="text/css" href="static/css/bootstrap.min.css" /> -->
    <link type="text/css" href="static/css/bootstrap-timepicker.min.css" />

    <!-- Custom styles for this template -->
    <style type='text/css'>

		/* Customize container */
		.container {
			min-width: 640px;
		}

    .borderless tbody tr td, .borderless thead tr th{
      border: none;
      padding-top: 20px;
      padding-bottom: 20px;
    }

		.slider-example {
			padding: 20px 0;
			margin: 35px 0;
      max-width: 700px;
		}

		#slider .slider-selection {
   			background: #BABABA;
  		}

    .well {
      background: rgba(220, 220, 220, 0.4);
    }
       
    </style>

	 <!-- <script type='text/javascript' src="static/bower_components/modernizr/modernizr.js"></script> -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
{% endblock %}


{% block content %}
	<!-- main content   -->
<div id="header">
  <div class="container">
    <div class="row">

      <div class="col-lg-6">
        <h1> AveNeue </h1>
        <h2 class="subtitle"> Discover the city you love </h2>        
      </div>

      <div class="col-lg-6 col-lg-offset-0.5">

      <!-- Sliders   -->
      <!-- <div class='col-md-12'> -->
         <div class="well"> 
          <table class="table borderless">
            <tr>
              <td align="right">Off the beaten path</td>
              <td><input id="ex1" data-slider-id='slider' class='span2' type="text" 
                  data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5"/>
                </td>
              <td> Popular </td>
            <tr>
              <td align="right">Take it easy</td>
              <td><input id="ex2" data-slider-id='slider' class='span2' type="text" 
                  data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5"/>
                </td>
              <td>See as much as possible</td>
          </table>
        </div> 
      <!-- </div> -->

        <!-- Address location  -->
        <div class='col-md-12'>
            <div class="input-group col-sm-12">
                <input type="text" class="form-control input-lg" id="startingLocation" placeholder="Starting Location">
            </div>
            <br>
            <div class="input-append bootstrap-timepicker">
                  <input id="timepicker1" type="text" class="input-small">
                  <span class="add-on"><i class="icon-time"></i></span>
            </div>
            
        </div>

      </div>
      
    </div> <!-- /row  -->
    
    <!-- Go button  -->
    <div class='col-md-12 starter-template'>
      <center>
      <div class="buttonbox">
          <button id="submit" class="btn btn-primary btn-lg"> Go! </button>
      </div>
     </center>
    </div>

  </div> <!-- /container -->

</div>

{% endblock %}


{% block scripts %}
    <!-- core JavaScript
    ================================================== -->
    <!--  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> -->
    <script type='text/javascript' src="static/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- <script src="static/js/bootstrap.min.js"></script> -->
    <script type='text/javascript' src="static/js/bootstrap-slider.js"></script>
    <script type="text/javascript" src="static/js/bootstrap-timepicker.min.js"></script>
   
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->

    <script type='text/javascript'>
    	$(document).ready(function() {
    		
          //submitting the form redirects the page
        $('#submit').click(function(e){

          var start = document.getElementById('startingLocation');
          console.log(start.value)
          var touristy_score = document.getElementById('ex1');
          //console.log(touristy_score.value)
          //window.location.href = "http://localhost:5000/map";
          return 0;
        
        });


	    	$('#ex1').slider({
	          	formatter: function(value) {
	            	return value;
	          	}
	        });

        $('#ex2').slider({
              formatter: function(value) {
                return value;
              }
          });

        $('#timepicker1').timepicker({
          });

    	});
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
    <script>
    //autocomplete for startingLocation
    var input = /** @type {HTMLInputElement} */(
        document.getElementById('startingLocation'));
      var autocomplete = new google.maps.places.Autocomplete(input);
      //restrict to NYC
      var sw = google.maps.LatLng(40.60, -74.20);
      var ne = google.maps.LatLng(40.90, -73.70);
      var LatLngBounds = google.maps.LatLngBounds(sw, ne);
      autocomplete.setBounds(LatLngBounds);
    </script>

{% endblock %}
