{% extends "layout/base.html" %}

{% block head %}
<!-- https://developers.google.com/maps/documentation/javascript/heatmaplayer -->
  <style>
    html, body, #map-canvas {
      height: 95%;
      margin: 0px;
      padding: 20px
    }
/*    #panel {
      position: absolute;
      top: 5px;
      left: 50%;
      margin-left: -180px;
      z-index: 5;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #999;
    }*/
  .fill { 
    min-height: 500px;
    height: 100%;
  }

  .thumb {
    margin: 2px 2px 2px 2px;
    width: 220px;
    height:150px;
  }

  body {
    margin-top: 50px;
    padding-bottom: 20px;
  }

  th {
    text-align:center
  }
  </style>
  <link href="static/css/d3style.css" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <!-- <link href="../static/css/bootstrap.min.css" rel="stylesheet"> -->
{% endblock %}


{% block content %}
<!-- <div id="panel">
  <button onclick="toggleHeatmap()">Toggle Heatmap</button>
</div> -->

<!-- Google map canvas -->
<div class="container fill col-md-6">
  <div id="map-canvas"></div>
</div>

<!-- Interactive stuff for canvas -->
<div class="container col-md-6" style="position:relative;margin-top:-10px;">
  <div class="container col-md-12" style="height:380px;">
    <h4> Top favorite pictures (click on map marker) <span id="show_mapmarker"></span> </h4> 
    <div id="thumbs"> </div> 
  </div>
<!--   <div class="subcontainer">
    <h5> Interest score over the course of the day </h5>
    <div id="timegraph"></div>
  </div> -->
</div>

<!-- Itinerary output -->
<div class="col-md-10 col-md-offset-1 ">
  <h2> Suggested Itinerary </h2>
  <table class="table table-hover" id="itinerary"> 
    <!--
    {% for loc in attractions %}
    <tr><td>{{ loc['Name'] }}</td><td>{{ loc['Id']}}</td><td>{{ loc['Address']}}</td></tr>
    {% endfor %}
    -->
    <!--       
    {% for index, loc in centroids.iterrows() %}
    <tr><td>{{ index }}</td><td>{{ loc['score'] }}</td></tr>
    td>{{ centroids['score'][loc[0]] }}</td>
    {% endfor %} -->
  </table>
  <div id ="travel_info" colspan=2></div>
  </br>
</div> <!-- /<div class="col-md-10 col-md-offset-1 "> -->

<!-- <div class="container">
  {% for urls in thumb_urls %}
    <div class="row col-md-10">
        {% for thumb in urls %}
          <div class="col-xs-2">
              <a href="#" class="thumbnail">
                  <img src={{ thumb['url'] }} alt="125x125">
              </a>
          </div>
        {% endfor %}
    </div>
  {% endfor %}
</div> -->

{% endblock %}


{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization"></script>
<script src="http://d3js.org/d3.v3.js"></script>


<!-- Google maps script  -->
<script>

var map, infoWindow; 
var directionsService = new google.maps.DirectionsService();
var directionsDisplay;

// create an array of heatmap points 
var heatMapData = []
{% for loc in heatmaploc %}
   heatMapData.push(
    {location: new google.maps.LatLng({{ loc['lat'] }}, {{ loc['lng'] }}), weight: 1 }
    );
{% endfor %}

// get thumb urls and put into javascript array 
var thumb_urls = []
{% for urls in thumb_urls %}
  var u = []
  {% for thumb in urls %}
    u.push("{{ thumb['url'] }}"); 
  {% endfor %}
  thumb_urls.push(u);
{% endfor %}

//var sanFrancisco = new google.maps.LatLng(37.774546, -122.433523);
//var newYork = new google.maps.LatLng(40.7447888,-73.9809217);
var myLocation = new google.maps.LatLng({{ myloc[0] }},{{ myloc[1] }});
var plotBoxes = false
var routeSymbolPng = ['blue_MarkerA.png', 'blue_MarkerB.png', 'blue_MarkerC.png', 
'blue_MarkerD.png', 'blue_MarkerE.png', 'blue_MarkerF.png', 'blue_MarkerG.png', 
'blue_MarkerH.png', 'blue_MarkerI.png', 'blue_MarkerJ.png', 'blue_MarkerK.png']

var timeString = ['12 am', '12:30 am', '1 am', '1:30 am', '2 am', '2:30 am', '3 am', '3:30 am', 
      '4 am', '4:30 am', '5 am', '5:30 am', '6 am', '6:30 am', '7 am', '7:30 am', 
      '8 am', '8:30 am', '9 am', '9:30 am', '10 am', '10:30 am', '11 am', '11:30 am', 
      '12 pm', '12:30 pm', '1 pm', '1:30 pm', '2 pm', '2:30 pm', '3 pm', '3:30 pm', 
      '4 pm', '4:30 pm', '5 pm', '5:30 pm', '6 pm', '6:30 pm', '7 pm', '7:30 pm',
      '8 pm', '8:30 pm', '9 pm', '9:30 pm', '10 pm', '10:30 pm', '11 pm', '11:30 pm'];

// show iterary table 
locationLabels = ['A','B','C','D','E','F','G']
{% for loc in path_locations %}  
  imgsource  = '../static/images/mapmarkers/blue_Marker'.concat(locationLabels.shift()).concat('.png')

  {% set places = google_places[ loop.index-1] %}

  // get the google places found for each location 
  var location_text = ''
  {% for subloc in places %}
      location_text = location_text +
                  '<img width="20" src="' + "{{  subloc['icon'] }}" + '">'
                  + "{{  subloc['name'] }} &nbsp &nbsp " 
  {% endfor %}
  //console.log(location_text) 
  // add transition to row 
  // $("#itinerary").append('<tr><td></td><td> Leave at ' + 
  //   timeString[ {{ path_time_idx[loop.index-1] }} ] + 
  //   '</td><td></td><td> Travel for ' +
  //   '</td></tr>');
  //console.log( timeString[ {{ path_time_idx[loop.index-1] }} ] )

  // add location to row 
  $("#itinerary")
    .append('<tr><td align="center">' + '<img src="' + imgsource + '">' + 
      '</td><td class="col-md-2"> Arrive at ' + timeString[{{ path_time_idx[loop.index] }}] + 
      '</td><td align="right"> Nearby Places: </td> <td class="col-md-7">' + 
      location_text + '</td> <td class="col-md-2"> Stay for ' + 
    {{ '%0.1f' % (duration_at_each_location[loc[0]] / 3600) | float }} + ' hrs </td></tr>');

{% endfor %}


// Initialize plotting for google maps 
function initialize() {
  directionsDisplay = new google.maps.DirectionsRenderer({suppressMarkers:true});
  infoWindow = new google.maps.InfoWindow();

  var mapOptions = {
    zoom: 15,
    center: myLocation,
    mapTypeId: google.maps.MapTypeId.roadmap
  };

  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  directionsDisplay.setMap(map);

  addHeatMap()
  addInitialLoc()
  //addCentroidMarkers()
  //addAttractionMarkers()
  if (plotBoxes){
    addLocationBounds()
  }
  addPathLocations()
  calcRoute()
  //addCentroidNearbyPlaces()
}

// set heat map 
function addHeatMap(){
  var pointArray = new google.maps.MVCArray(heatMapData);
  var heatmap = new google.maps.visualization.HeatmapLayer({
    data: pointArray
  });
  heatmap.setMap(map);
}

// set marker for starting location 
function addInitialLoc(){
  var marker = new google.maps.Marker({
    position: myLocation,
    map: map,
    title:"My location"
  });
  marker.setMap(map);
}

// set additional markers for detected centroids from flickr photos
function addCentroidMarkers(){
  {% for index, loc in centroids.iterrows() %}
    coordinate = new google.maps.LatLng({{ loc['lat'] }},{{ loc['lng'] }})

    var marker = new google.maps.Marker({
      position: coordinate,
      map: map,
      icon: {
        path: google.maps.SymbolPath.CIRCLE,
        scale: 4
      },
    });

    google.maps.event.addListener(marker, 'click', function(event) {
             infoWindow.setPosition(coordinate);
             infoWindow.setContent( String({{index}}) + '<br>' + String({{ loc['score'] }}) );
             infoWindow.open(map,this);
    });
    // var infoWindow = new google.maps.InfoWindow( 
    //   {content: String({{index}}) + '<br>' + String({{ loc['score'] }}) } 
    //   );
    //infoWindow.open(map,marker);
    //marker.setMap(map);
  {% endfor %}
}

// set surrounding locations for each location 
function addCentroidNearbyPlaces(){
  // for each location 
  {% for loc in path_locations %} 
    {% set places = google_places[ loop.index-1] %}
    // for each of the nearby sites 
    {% for subloc in places %}
      
      coordinate = new google.maps.LatLng({{ subloc['lat'] }},{{ subloc['lng'] }})
      //console.log( {{ subloc['lat'] }} )
      // add marker 
      var gpmarker = new google.maps.MarkerImage(
        "{{ subloc['icon'] }}", null, null, null, new google.maps.Size(20, 20));

      var marker = new google.maps.Marker({
        position: coordinate,
        map: map,
        icon: gpmarker,
      });

      // call back for popup windows
      google.maps.event.addListener(marker, 'click', function(event) {
         infoWindow.setPosition(coordinate);
         infoWindow.setContent( String( "{{  subloc['name'] }}" ) );
         infoWindow.open(map,this);
      });
      //marker.setMap(map)

    {% endfor %}
  {% endfor %}
}

// set additional markers for landmarks 
function addAttractionMarkers(){
  {% for loc in attractions %}
    coordinate = new google.maps.LatLng({{ loc['loc_lat'] }},{{ loc['loc_lng'] }})

    var marker = new google.maps.Marker({
      position: coordinate,
      map: map,
      icon: '../static/images/mapmarkers/darkgreen_MarkerA.png',
    });

    // call back for popup windows
    google.maps.event.addListener(marker, 'click', function(event) {
       infoWindow.setPosition(coordinate);
       infoWindow.setContent( String({{ loc['Id'] }}) );
       infoWindow.open(map,this);
    });
    //marker.setMap(map);
    //console.log([ {{ loc['viewport_sw_lat'] }}, {{ loc['viewport_sw_lng'] }}, 
    //  {{ loc['viewport_ne_lat'] }}, {{ loc['viewport_ne_lng'] }} ])
  {% endfor %}
}

//add rectangle boxes
//Not used -- good for sanity check
function addLocationBounds(){
  {% for loc in attractions[:1] %}
    var rectangle = new google.maps.Rectangle({
    strokeColor: '#FF0000',
    strokeOpacity: 0.8,
    strokeWeight: 2,
    fillColor: '#FF0000',
    fillOpacity: 0.35,
    map: map,
    bounds: new google.maps.LatLngBounds(
      new google.maps.LatLng({{ loc['bounds_sw_lat'] }}, {{ loc['bounds_sw_lng'] }}),
      new google.maps.LatLng({{ loc['bounds_ne_lat'] }}, {{ loc['bounds_ne_lng'] }}))
    });
  {% endfor %}
}

// locations found along the path
// excludes initial starting location TODO: excludes first point 
function addPathLocations(){

  {% for loc in path_locations %}
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng({{ loc[1][0] }},{{ loc[1][1] }}),
      map: map,
      icon: '../static/images/mapmarkers/'.concat(routeSymbolPng[{{ loop.index-1 }}]),
    });
    
    // save the outer loop index 
    {% set outerloopidx = loop.index-1 %}

    // defining what happens when you click on a marker 
    google.maps.event.addListener(marker, 'click', function(event) {
      // add google map marker
      $("#show_mapmarker").empty()
      $("#show_mapmarker").append('<img width="20" src="' + 
        '../static/images/mapmarkers/'.concat(routeSymbolPng[{{ loop.index-1 }}])
        + '">')
      // generate the top 4 flickr thumb nails 
      $("#thumbs").empty();
      var curr_thumbs = thumb_urls[{{ outerloopidx }}]
      for (i = 0; i < curr_thumbs.length; i++){
        var thumb_src = '<img class="thumb" src="' + curr_thumbs[i] + '">'
        //console.log(thumb_src)
        $('#thumbs').append(thumb_src);
      }

      // generate time graphs 
      $("#timegraph").empty();
      var score_at_currloc = []
      {% for hridx, tsc in time_score.iterrows() %}
        // index number, hour, score at that hour 
        var new_vals = { index: {{ loop.index-1 }}, hour: {{ hridx }}, score: {{ tsc[loc[0]]*100 }} };
        score_at_currloc.push(new_vals);
      {% endfor %}
      // plotd3(score_at_currloc)
    });

   marker.setMap(map);
  {% endfor %}
}

// overlay route on google maps 
function calcRoute() {

    var waypoints = [];
    {% for loc in path_locations %}  
      waypoints.push({ location: new google.maps.LatLng({{ loc[1][0] }},{{ loc[1][1] }}) });
    {% endfor %}
    var start = myLocation;
    var end = waypoints.pop().location;

    var request = {
      origin:start,
      destination:end,
      travelMode: google.maps.TravelMode.WALKING,
      waypoints: waypoints
    };

    directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);
        var route = response.routes[0];
        var total_distance = 0;
        var total_time = 0;
        for (var i = 0; i < route.legs.length; i++){
            var distance = route.legs[i].distance;
            var duration = route.legs[i].duration;
            total_distance += distance.value;
            total_time += duration.value;
        };
      addTravelInfo(total_distance, total_time);
      }
    });
}

function addTravelInfo(distance_meters, time_sec){
  var div = document.getElementById("travel_info");
  //distance = distance_feet / 5280;
  var duration_stay = 0
  {% for loc in path_locations %}
    duration_stay += {{ duration_at_each_location[loc[0]] }}
  {% endfor %}
  //duration_stay = duration_stay / 3600; 

  distance = distance_meters / 1000 * 0.621371
  // time = time_sec / 60;
  var total_time = (time_sec + duration_stay) / 3600;

  // div.innerText = "Total distance: " + distance.toFixed(1) +" mi (" 
  //   + time.toFixed(0) + " min travel, " +  duration_stay.toFixed(1) + " hr visits)";
  div.innerText = "Total distance: " + distance.toFixed(1) +" mi (" 
    + total_time.toFixed(1) + " hrs)";
}


function toggleHeatmap() {
  heatmap.setMap(heatmap.getMap() ? null : map);
}

google.maps.event.addDomListener(window, 'load', initialize);


// --------- d3 scripts ------------------------
// ---------------------------------------------
// http://bl.ocks.org/zoopoetics/7684278
// http://bl.ocks.org/mbostock/3902569
// http://bl.ocks.org/benjchristensen/2579599
// http://bl.ocks.org/mbostock/3884955

// first, load data 
// var data = []
// {% for index, loc in time_score.iterrows() %}
//   var new_vals = { index: {{ loop.index-1 }}, hour: {{ index }}, score: {{ loc[0]*100 }} };
//   data.push(new_vals);
// {% endfor %}
//console.log(data)

// Now we draw things!! 
var margin = {top: 10, right: 100, bottom: 20, left: 50},
    width  = 400 - margin.left - margin.right,
    height = 180 - margin.top - margin.bottom;

var x = d3.scale.linear()
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .tickValues([0, 4, 8, 12, 16, 20, 24])
    .tickSize(-height)
    .tickFormat("")
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .tickSize(-width)
    .tickValues([1])
    .tickFormat("")
    .orient("left");

function plotd3 (data) {

  var svg = d3.select("#timegraph").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")

  var line = d3.svg.line()
    .x(function(d) { return x(d.hour); })
    .y(function(d) { return y(d.score); });

  x.domain(d3.extent(data, function(d) { return d.hour; }));
  y.domain([0, d3.max(data, function(d) { return d.score; })]);

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .attr("transform", "translate(-10,0)")
      .call(yAxis);

  svg.append("path")
      .datum(data)
      .attr("class", "line")
      .attr("d", line);

  // append hover element 
  var focus = svg.append("g")
        .attr("class", "focus")
        .style("display", "none");

  focus.append("circle")
        .attr("r", 5);

  focus.append("text")
        .attr("x", -20)
        .attr("y", 20)
        .attr("dy", ".35em");

  svg.append("rect")
        .attr("class", "overlay")
        .attr("width", width)
        .attr("height", height)
        .on("mouseover", function() { focus.style("display", null); })
        .on("mouseout", function() { focus.style("display", "none"); })
        .on("mousemove", mousemove);

  var bisect = d3.bisector(function(datum) {
    return datum.hour;
  }).left;

  function mousemove() {
    var x0 = x.invert(d3.mouse(this)[0]),
        i = bisect(data, x0, 1),
        d0 = data[i - 1],
        d1 = data[i],
        d = x0 - d0.hour > d1.hour - x0 ? d1 : d0;
    focus.attr("transform", "translate(" + x(d.hour) + "," + y(d.score) + ")");
    focus.select("text").text(timeString[d.index] + ": " + d.score.toFixed(1))
    .attr("font-family", "sans-serif").attr("font-size", "14px");
  }
}

</script>

<!-- /d3 scripts  -->

{% endblock %}