{% extends "layout/base.html" %}

{% block head %}
<!-- https://developers.google.com/maps/documentation/javascript/heatmaplayer -->
  <style>
    html, body, #map-canvas {
      height: 95%;
      margin: 0px;
      padding: 30px
    }
/*      #panel {
      position: absolute;
      top: 5px;
      left: 50%;
      margin-left: -180px;
      z-index: 5;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #999;
    }*/
  .fill { 
    min-height: 600px;
    height: 100%;
  }

  .thumb {
    margin: 2px 2px 2px 2px;
  }
  body {
    padding-top: 60px;
    padding-bottom: 20px;
  }
  </style>
  <!-- <link href="static/starter-template.css" rel="stylesheet"> -->
  <!-- Bootstrap core CSS -->
  <!-- <link href="../static/css/bootstrap.min.css" rel="stylesheet"> -->
{% endblock %}


{% block content %}

<!-- <div class='container'> -->
  <!-- <div id="panel">
    <button onclick="toggleHeatmap()">Toggle Heatmap</button>
  </div> -->
  <div class="col-md-5 col-md-offset-0.5 ">
    <h2> Suggested Itinerary </h2>
    <table class="table table-hover">
     
      <tr>
        <th align="center">Number</th>
        <th align="center">Estimated Duration</th>
      </tr>
      <!--
      {% for loc in attractions %}
      <tr><td>{{ loc['Name'] }}</td><td>{{ loc['Id']}}</td><td>{{ loc['Address']}}</td></tr>
      {% endfor %}
      -->
      <!--       
      {% for index, loc in centroids.iterrows() %}
      <tr><td>{{ index }}</td><td>{{ loc['score'] }}</td></tr>
      {% endfor %} -->
      {% for loc in path_locations %}
      <tr>
        <!-- <td>{{ centroids['score'][loc[0]] }}</td> -->
        <td align="center"> {{ loop.index }}</td>
        <td align="center">{{ '%0.1f' % (duration_at_each_location[loc[0]] / 3600) | float }} hrs </td>
      </tr>
      {% endfor %}
      <tr><td id ="travel_info" colspan=2></td></tr>
    </table>
    <div id="thumbs"> </div> 
    </div>
<!-- </div>  -->
  <div class="container fill">
    <div id="map-canvas"></div>
  </div>
<!-- </div>  --> <!-- /cotainer -->

<!-- <div class="container">
  {% for urls in thumb_urls %}
    <div class="row col-md-10">
        {% for thumb in urls %}
          <div class="col-xs-2">
              <a href="#" class="thumbnail">
                  <img src={{ thumb['url'] }} alt="125x125">
              </a>
          </div>
        {% endfor %}
    </div>
  {% endfor %}
</div> -->

{% endblock %}


{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization"></script>

<script>

var map, infoWindow; 
var directionsService = new google.maps.DirectionsService();
var directionsDisplay;

// create an array of heatmap points 
var heatMapData = []
{% for loc in heatmaploc %}
   heatMapData.push(
    {location: new google.maps.LatLng({{ loc['lat'] }}, {{ loc['lng'] }}), weight: 1 }
    );
{% endfor %}

// get thumb urls and put into javascript array 
var thumb_urls = []
{% for urls in thumb_urls2 %}
  var u = []
  {% for thumb in urls %}
    u.push("{{ thumb['url'] }}"); 
  {% endfor %}
  thumb_urls.push(u);
{% endfor %}
//console.log(thumb_urls)

//var sanFrancisco = new google.maps.LatLng(37.774546, -122.433523);
//var newYork = new google.maps.LatLng(40.7447888,-73.9809217);
var myLocation = new google.maps.LatLng({{ myloc[0] }},{{ myloc[1] }});
var plotBoxes = false
var routeSymbolPng = ['blue_MarkerA.png', 'blue_MarkerB.png', 'blue_MarkerC.png', 
'blue_MarkerD.png', 'blue_MarkerE.png', 'blue_MarkerF.png', 'blue_MarkerG.png', 
'blue_MarkerH.png', 'blue_MarkerI.png', 'blue_MarkerJ.png', 'blue_MarkerK.png']


// Initialize plotting 
function initialize() {
  directionsDisplay = new google.maps.DirectionsRenderer({suppressMarkers:true});
  infoWindow = new google.maps.InfoWindow();

  var mapOptions = {
    zoom: 15,
    center: myLocation,
    mapTypeId: google.maps.MapTypeId.roadmap
  };

  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  directionsDisplay.setMap(map);

  addHeatMap()
  addInitialLoc()
  //addCentroidMarkers()
  //addAttractionMarkers()
  if (plotBoxes){
    addLocationBounds()
  }
  addPathLocations()
  calcRoute()
}

// set heat map 
function addHeatMap(){
  var pointArray = new google.maps.MVCArray(heatMapData);
  var heatmap = new google.maps.visualization.HeatmapLayer({
    data: pointArray
  });
  heatmap.setMap(map);
}

// set marker for starting location 
function addInitialLoc(){
  var marker = new google.maps.Marker({
    position: myLocation,
    map: map,
    title:"My location"
  });
  marker.setMap(map);
}

// set additional markers for detected centroids from flickr photos
function addCentroidMarkers(){
  {% for index, loc in centroids.iterrows() %}
    coordinate = new google.maps.LatLng({{ loc['lat'] }},{{ loc['lng'] }})

    var marker = new google.maps.Marker({
      position: coordinate,
      map: map,
      icon: {
        path: google.maps.SymbolPath.CIRCLE,
        scale: 4
      },
    });

    google.maps.event.addListener(marker, 'click', function(event) {
             infoWindow.setPosition(coordinate);
             infoWindow.setContent( String({{index}}) + '<br>' + String({{ loc['score'] }}) );
             infoWindow.open(map,this);
    });
    // var infoWindow = new google.maps.InfoWindow( 
    //   {content: String({{index}}) + '<br>' + String({{ loc['score'] }}) } 
    //   );
    //infoWindow.open(map,marker);
    //marker.setMap(map);
  {% endfor %}
}

// set additional markers for landmarks 
function addAttractionMarkers(){
  {% for loc in attractions %}
    coordinate = new google.maps.LatLng({{ loc['loc_lat'] }},{{ loc['loc_lng'] }})

    var marker = new google.maps.Marker({
      position: coordinate,
      map: map,
      icon: '../static/images/mapmarkers/darkgreen_MarkerA.png',
    });

    // call back for popup windows
    google.maps.event.addListener(marker, 'click', function(event) {
       infoWindow.setPosition(coordinate);
       infoWindow.setContent( String({{ loc['Id'] }}) );
       infoWindow.open(map,this);
    });
    //marker.setMap(map);
    //console.log([ {{ loc['viewport_sw_lat'] }}, {{ loc['viewport_sw_lng'] }}, 
    //  {{ loc['viewport_ne_lat'] }}, {{ loc['viewport_ne_lng'] }} ])
  {% endfor %}
}

//add rectangle boxes
//Not used -- good for sanity check
function addLocationBounds(){
  {% for loc in attractions[:1] %}
    var rectangle = new google.maps.Rectangle({
    strokeColor: '#FF0000',
    strokeOpacity: 0.8,
    strokeWeight: 2,
    fillColor: '#FF0000',
    fillOpacity: 0.35,
    map: map,
    bounds: new google.maps.LatLngBounds(
      new google.maps.LatLng({{ loc['bounds_sw_lat'] }}, {{ loc['bounds_sw_lng'] }}),
      new google.maps.LatLng({{ loc['bounds_ne_lat'] }}, {{ loc['bounds_ne_lng'] }}))
    });
  {% endfor %}
}

// locations found along the path
// excludes initial starting location TODO: excludes first point 
function addPathLocations(){

  // var n = []; 
  // var i = 0;
  // {% for loc in path_locations %}
  //   n.push(i);
  //   i++
  // {% endfor %}

  {% for loc in path_locations %}
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng({{ loc[1][0] }},{{ loc[1][1] }}),
      map: map,
      icon: '../static/images/mapmarkers/'.concat(routeSymbolPng.shift()),
    });

    google.maps.event.addListener(marker, 'click', function(event) {

      $("#thumbs").empty();
      // for (i=0; i < cities.length; i++) {
      //     $("#citybox table").append('<tr><td>' + cities[i]['City'] + '</td><td>' + cities[i]['Population'] + '</td></tr>');
      // }
      for (i = 0; i < 5; i++){
        var thumb_src = '<a href="#"><img class="thumb" src="' + thumb_urls[{{ loc[0] }}][i] + '"></a>'
        //console.log(thumb_src)
        $('#thumbs').append(thumb_src);
      }

    });

   marker.setMap(map);
   {% endfor %}
}

// overlay route on google maps 
function calcRoute() {

    var waypoints = [];
    {% for loc in path_locations %}  
      waypoints.push({ location: new google.maps.LatLng({{ loc[1][0] }},{{ loc[1][1] }}) });
    {% endfor %}
    var start = myLocation;
    var end = waypoints.pop().location;

    var request = {
      origin:start,
      destination:end,
      travelMode: google.maps.TravelMode.WALKING,
      waypoints: waypoints
    };

    directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);
        var route = response.routes[0];
        var total_distance = 0;
        var total_time = 0;
        for (var i = 0; i < route.legs.length; i++){
            var distance = route.legs[i].distance;
            var duration = route.legs[i].duration;
            total_distance += distance.value;
            total_time += duration.value;
        };
      addTravelInfo(total_distance, total_time);
      }
    });
}

// TODO: modify this to acccount for time spent at each location!!
function addTravelInfo(distance_meters, time_sec){
  var div = document.getElementById("travel_info");
  //distance = distance_feet / 5280;
  var duration_stay = 0
  {% for loc in path_locations %}
    duration_stay += {{ duration_at_each_location[loc[0]] }}
  {% endfor %}
  duration_stay = duration_stay / 3600; 

  distance = distance_meters / 1000 * 0.621371
  time = time_sec / 60;
  div.innerText = "Total distance: " + distance.toFixed(1) +" mi (" 
    + time.toFixed(0) + " min travel, " +  duration_stay.toFixed(1) + " hr visits)";
}


function toggleHeatmap() {
  heatmap.setMap(heatmap.getMap() ? null : map);
}
google.maps.event.addDomListener(window, 'load', initialize);

</script>

<!--
<script type='text/javascript'>
  $(document).ready(function() {
    
    $('#submit').click(function(e){
      console.log('test')
    });
  });
</script>
-->
{% endblock %}